@namespace UniComponents
@inject IJSRuntime JSRuntime
<div class="resizable">
    <table class="table table-striped table-hover">
        <thead>
            <tr style="cursor: ew-resize;">
                @THEAD
            </tr>
        </thead>
        <tbody>
            @TBODY
        </tbody>
    </table>
</div>

<script>
    window.resizeColumns = function() {
         const thElms = document.querySelectorAll(".col-resize");

        thElms.forEach(thElm => {
            let startOffset = thElm.offsetWidth;

            thElm.addEventListener("mousedown", function(e) {
                let startX = e.clientX;

                document.addEventListener("mousemove", doDrag, false);
                document.addEventListener("mouseup", stopDrag, false);

                function doDrag(e) {
                    thElm.style.width = (startOffset + e.clientX - startX) + "px";
                }

                function stopDrag(e) {
                    document.removeEventListener("mousemove", doDrag, false);
                    document.removeEventListener("mouseup", stopDrag, false);
                }
            });
        });
    }
</script>


@code {
    [Parameter]
    public RenderFragment THEAD { get; set; }

    [Parameter]
    public RenderFragment TBODY { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("resizeColumns");
        }
    }

}

