thead tr {
    position: sticky;
    top: 0;
    --bs-table-bg: #f1f1f1d5;
    border: initial;
}

.resizable {
    overflow: auto;
}

    .resizable .col-resize {
        position: relative;
    }

        .resizable .col-resize::after {
            content: "";
            position: absolute;
            top: 0;
            right: -2px;
            bottom: 0;
            width: 5px;
            cursor: ew-resize;
            border-right: 1px solid #dee2e6;
        }

::deep.table tbody tr.selected-row {
    --bs-table-bg: #9d9b9bef;
}

::deep .th-sortable {
    user-select: none;
}

::deep .nonselecttext {
    user-select: none;
}

