@namespace LudskeZdrojeModul
@page "/SpravaRoli/AddRole"
@inject AddRoleViewModel ViewModel


<InfoModal @ref="InfoMod" ID="infosaved"
           Text="Profesia bola vytvorená." />
<InfoModal @ref="InfoModExist" ID="infoexist"
           Text="Profesia už existuje." />

<EditForm Model="ViewModel" OnValidSubmit="Create">
    <DataAnnotationsValidator />
    <div class="container px-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Vytvorenie profesie</h1>
            </div>
        </div>

        <div class="row">

            <div class="col">

                <div class="row">
                    <div class="col-6">
                        <label>Názov profesie</label>
                        <InputText @bind-Value="@ViewModel.RoleName" class="form-control" placeholder="Názov profesie" />
                        <ValidationMessage For="@(() => ViewModel.RoleName)" />
                    </div>
                </div>



            </div>



        </div>

        <div class="row pt-2">
            <div class="col text-center">
                <ButtonBasic type="button" onclick="Close" class="btn btn-secondary"><IconTextClose></IconTextClose></ButtonBasic>
                <SimpleButton Type="submit" ZmenaTextu="@(("Vytvoriť", "Vytvoriť"))"></SimpleButton>
            </div>
        </div>

    </div>
</EditForm>


@code
{
    private InfoModal InfoMod = new();
    private InfoModal InfoModExist = new();

    protected override void OnInitialized()
    {
        if (!ViewModel.ValidateUser())
        {
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
            return;
        }
    }

    public void Close()
    {
        Navigator.NavigateTo(Navigator.RemoveLastUrl());
    }

    public async Task Create()
    {
        if (await ViewModel.Vytvorit())
        {
            await InfoMod.OpenModal(true);
            Navigator.NavigateTo(Navigator.RemoveLastUrl());
        }
        else
        {
            await InfoModExist.OpenModal();
        }
    }
}
