@page "/"
@using DBLayer
@using HMS.ViewModels
@* @using Microsoft.AspNetCore.Identity *@
@* @using Microsoft.AspNetCore.Components.Authorization *@
@using System.Diagnostics
@* @using System.Security.Claims; *@


@inherits LayoutComponentBase
@inject IndexViewModel ViewModel

@inject Navigator Navigator
@inject Routes.LayoutService layoutService
@inject DbInitializeService initDB
@inject UserService UserService
@inject HMS.Components.Services.IAppLifeCycleService AppLifecycleService
@implements IDisposable
@*bez scrolovania style*@
<style>
    body {
        height: 100%;
        overflow: hidden;
    }
</style>

@*<InfoModal @ref="ViewModel.CloseAppModal" Text="Chcete ukončiť aplikáciu?"></InfoModal>*@
<ApproveModal @ref="LogOffModal" Header="" Text="Chcete sa odhlásiť?" FuncOnSucc="EventCallback.Empty" FuncOnDiss="EventCallback.Empty"></ApproveModal>

@if (UserService.LoggedUser != null)
{
    <div class="">
        <button type="button" @onclick="LogOff" class="btn btn-primary">Prihlásený: @UserService.LoggedUser?.UserName</button>
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="p-3 w-50 ">
                <div class="list-group text-center border border-2 border-black ">

                    @foreach (var item in ViewModel.ModulesList)
                    {
                        if (item.Item3.Contains(UserService.LoggedUserRole))
                        {
                            <a @onclick="@(() => Navigator.NavigateTo(item.Item2, saveThisUrl: true))" class="list-group-item list-group-item-action">@item.Item1</a>
                        }
                    }
                </div>
            </div>
            @*<button @onclick="EXCT">Spusti</button>*@
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center vh-100">
        <SpinnerLoading Size="3" />
    </div>
}




@code {
    

    private ApproveModal LogOffModal = new();

    protected override async Task OnInitializedAsync()
    {
        await initDB.TryMustHaveValues();

#if DEBUG

        if (UserService.LoggedUser == null)
        {
            await UserService.LogInUserAsync("admin", "Heslo123");
        }

#endif
        if (UserService.LoggedUser == null)
        {
            Navigator.NavigateTo("/Login");
            return;
        }
    }

    public void Dispose()
    {

    }

    public async Task LogOff()
    {
        if (await LogOffModal.OpenModal(true))
        {
            UserService.LogOutUser();
            Navigator.NavigateTo("/Login");
        }
    }


}