@namespace SkladModul
@*VYMAZAT*@










<div class="container">
    <div class="row">
        <div class="col">
            <!-- Buttons -->
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-danger m-2">❌Zavrieť</button>
            </div>
            <!-- End Buttons -->
            <!-- Info Objednavky -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Názov Objednávky</th>
                        <th>Číslo ID</th>
                        <th>Popis</th>
                        <th>Stav</th>
                        <th>Dátum vytvorenia</th>
                        <th>Celková cena</th>
                        <th>Celková cena s DPH</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will go here -->
                </tbody>
            </table>
            <!-- End Info Objednavky -->
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- Zoznam Poloziek -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Názov Položky</th>
                        <th>ČísloID</th>
                        <th>Množstvo</th>
                        <th>Merná jednotka</th>
                        <th>Cena za 1/MJ</th>
                        <th>Cena za 1/MJ s DPH</th>
                        <th>Celková Cena</th>
                        <th>Celková Cena s DPH</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will go here -->
                </tbody>
            </table>
            <!-- End Zoznam Poloziek -->
        </div>
    </div>
</div>


@code {

}
