@namespace UniComponents

<a @onclick="OnClick" style="@(Disabled || Loading || CascDisabled ? " pointer-events: none;" : "" ) ">
    <i href="#" class="bi bi-box-arrow-in-down btn btn-secondary @(Disabled || Loading || CascDisabled ? " disabled" : "" )">
        @if (Loading)
        {
            <SpinnerLoading ExtraSmall="true"></SpinnerLoading>
        }
    </i>
    
</a>


@code
{
    /// <summary>
    /// Vypnutie tlačidla, Default false
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; } = false;

    /// <summary>
    /// Vnutro @onclick, Default EventCallback.Empty
    /// </summary>
    [Parameter]
    public EventCallback OnClick { get; set; } = EventCallback.Empty;

    /// <summary>
    /// Zobraziť loading spinner a vypne tlačidlo pokiaľ true, Default false
    /// </summary>
    [Parameter]
    public bool Loading { get; set; } = false;

    /// <summary>
    /// Určuje, že bude input disabled pomocou cascading parameter, default false
    /// </summary>
    [CascadingParameter(Name = "CascDisabled")]
    public bool CascDisabled { get; set; } = false;
}


