@namespace UniComponents

<a @onclick="OnClick" style="@(Disabled || CascLoading ? " pointer-events: none;" : "" ) ">
    <i href="#" class="bi bi-plus-circle btn btn-success @(Disabled || CascLoading ? " disabled" : "" )"></i>
</a>


@code
{
    /// <summary>
    /// Vypnutie tlačidla, Default false
    /// </summary>
    [Parameter]
    public bool Disabled { get; set; } = false;

    /// <summary>
    /// Vnutro @onclick, Default EventCallback.Empty
    /// </summary>
    [Parameter]
    public EventCallback OnClick { get; set; } = EventCallback.Empty;

    /// <summary>
    /// Určuje, že bude tlačilo disabled a dá SpinnerLoading  pomocou cascading parameter, default false
    /// </summary>
    [CascadingParameter(Name = "CascLoading")]
    public bool CascLoading { get; set; } = false;

}

