@namespace SkladModul

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Vytvorenie položky skladu</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>*Názov</label>
            <input type="text" class="form-control" placeholder="Enter name">
        </div>
        <div class="col">
            <label>ČísloID (Automaticky)</label>
            <input type="text" class="form-control" placeholder="Enter ID" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>*Merná jednotka</label>
            <input type="text" class="form-control" placeholder="Enter unit">
        </div>
        <div class="col">
            <label>*Cena za 1/MJ -> čiarka ,</label>
            <input type="text" class="form-control" placeholder="Enter price">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>DPH: </label>
           @*  <input type="text" class="form-control" placeholder="Enter DPH"> *@
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="button" class="btn btn-primary">Vytvoriť</button>
            <button type="button" class="btn btn-secondary">Koniec</button>
        </div>
    </div>
</div>


@code {

}
