@namespace SkladModul

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="font-weight-bold">Uzávierka obdobia</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-primary m-2">Uzavrieť obdobie</button>
            <button type="button" class="btn btn-secondary m-2">Zrušiť</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Názov Položky</th>
                        <th scope="col">ČísloID</th>
                        <th scope="col">Merná jednotka</th>
                        <th scope="col">Cena za 1/MJ</th>
                        <th scope="col">Cena za 1/MJ s DPH</th>
                        <th scope="col">Aktuálne Množstvo</th>
                        <th scope="col">Prijaté Množstvo</th>
                        <th scope="col">Vydaté Množstvo</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows of data here -->
                </tbody>
            </table>
        </div>
    </div>
</div>


@code {

}
