@namespace UniComponents

@if (Checked)
{
    <i class="bi bi-check-circle-fill text-success @(FixedSizePx == 0 ? ("fs-" + Size) : "")" style="font-size: @(FixedSizePx + "px");" aria-label="yas">
        @*<span class="sr-only visually-hidden">yas</span>*@
    </i>
}
else
{
    <i class="bi bi-x-circle-fill text-danger @(FixedSizePx == 0 ? ("fs-" + Size) : "")" style="font-size: @(FixedSizePx + "px");" aria-label="n">
        @*<span class="sr-only visually-hidden">n</span>*@
    </i>
}

@code {
    /// <summary>
    /// Bool, default false
    /// </summary>
    [Parameter]
    public bool Checked { get; set; } = false;
    /// <summary>
    /// Velkost ikony, hodnoty od 1 - 6, default 5
    /// </summary>
    [Parameter]
    public int Size { get; set; } = 5;

    /// <summary>
    /// Velkost ikony fix, vypína Size ak nastavená, default 0
    /// </summary>
    [Parameter]
    public int FixedSizePx { get; set; } = 0;

    /// <summary>
    /// Funkcia na získanie renderovacieho komponentu pre ComplexTable
    /// </summary>
    /// <typeparam name="T"></typeparam>
    /// <param name="Checked"></param>
    /// <returns></returns>
    public static RenderFragmentTemplate GetRenderComponent(bool Checked)
    {
        return new RenderFragmentTemplate(typeof(SimpleCheckMarkNull),
            new RenderFragmentAttribute("Checked", Checked)
            );
    }
}
